@model ResultViewModel
@{
    Layout = null;

}




<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">





<div class="container">
   
    <h2 class="text-center">@Model.ExamName--@Model.ExamYear</h2>
<table class="table-condensed" style="margin-top:3%">
<tbody>
   
 
 <tr>
     <td> Student Name :</td>
<td>@Model.student.StudentName</td>

</tr>
 <tr>
<td>Class:</td>
<td>@Model.ClassName</td>
</tr>
 <tr>
<td>Student Roll Number:</td>
 <td>@Model.student.StudentRollNo</td>
</tr>
</tbody>
</table>

   
                  


    <div class="col-md-12" style="margin-top:5%">
<div class="col-md-10  table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>S.N</th>
<th>Subjects</th>
<th>Marks</th>

</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Call of Duty</td>
<td>455-981-221</td>
</tr>


</tbody>
</table>
</div>

</div>
<div class="row no-print">
<div class="col-md-10">
<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>


<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
<i class="fa fa-download"></i> Generate PDF
</button>
</div>
</div>
    </div>
   </div>