@model MVMWrapper
@{
    ViewBag.Title = "Assign Marks";
}

<form method="post">


    @for (int i = 0; i < Model.mvmlist.Count; i++)
    {
        <div class="form-group">
            <label>@Model.mvmlist[i].Subject.SubjectName</label>
            <input asp-for="@Model.mvmlist[i].Subject.Id" type="hidden" />
            <input asp-for="@Model.mvmlist[i].Subject.SubjectName" type="hidden" />
            <input asp-for="@Model.mvmlist[i].Mark" class="form-control" />
        </div>
    }

    <button type="Submit" class="btn btn-success">Assign</button>
</form>
