@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Dashboard</h2>

<div class="row">
<div class="col-lg-3 col-6">

<div class="small-box bg-info">
<div class="inner">
<h3>@ViewData["TotalSubjects"]</h3>
<p>Total Subjects</p>
</div>
<div class="icon">
<i class="ion ion-bag"></i>
</div>

</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-success">
<div class="inner">
<h3>@ViewData["TotalStudents"]</h3>
<p>Total students</p>
</div>
<div class="icon">
<i class="ion ion-stats-bars"></i>
</div>
</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-warning">
<div class="inner">
<h3>@ViewData["TotalClasses"]</h3>
<p>Total Classes</p>
</div>
<div class="icon">
<i class="ion ion-person-add"></i>
</div>
</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-danger">
<div class="inner">
<h3>@ViewData["TotalResults"]</h3>
<p>Total Results</p>
</div>
<div class="icon">
<i class="ion ion-pie-graph"></i>
</div>
</div>
</div>

</div>